.job-wrapper{
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.job-container{

  border:2px solid #ffd300;
  border-radius: 5%;
  background: #ffd300;
  opacity: 0.7;
  text-align: center;
  padding: 10px;
  box-sizing:content-box;
  width: 30rem;

  margin-bottom: 40px;

}
.job-container .image{
    margin: 10px;

}
.job-container:hover{
  background-color: #f1c908;
  transform: scale(1.02);
}
#foot{

}
