@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f4f4f2;
   height: 100%;
   width: 100%;
}
nav {
  background-color: #ffd300;
}

.main_content{
  max-width: 1200px;
  box-sizing: content-box;
  margin: 10px auto;
  padding: 20px;

}
.main_content .left{

  width: 50%;
  height: 30rem;
}
.main_content .right{

  width: 50%;
  height: 30rem;
}
#foot{
  background:  #ffd300;
  color: black;
  margin-top: 20px;;
}
#foot ul li a{

  margin-bottom: 10px;
  color:black
}
#fb:hover{
  color:#0067e0;
  transition: all 1s ease;
}
#ig:hover{
  color: #940059;
  transition: all 1s ease;
}
#nav-lang{
  position: absolute;
  right: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 991px) {
  #nav-lang{
    position: static;
  }
}
@media only screen and (max-width: 620px) {
    #logos{
        width: 0px;
        height: 0px;
        display: none;
    }
    #logos img{
      display: none;
    }

    #desc{
      width: 100%;
    }
}
#abtus-btn{
  background-color: black;
  color: #ffd300;
  border-radius: 15%;
}
